body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-content a {
  display: inline-block;
  margin-right: 1.5rem;
  opacity: 0.7;
}
.navbar-content a:hover {
  color: #0d6efd !important;
}

.navbar-content .nav-icon {
  display: inline-block;
  color: black;
  padding: 4px;
  font-size: 1.4rem;
  opacity: 0.5;
}

.footer-com a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  display: inline-block;
  margin-top: 12px;
  margin-right: 1rem;
}

.social-icon1 a {
  display: inline-block;
  margin-right: 16px;
  font-size: 1.3rem;
  color: grey;
}

.social-icon1 a:hover {
  color: #0d6efd;
}

.social-icon2 a {
  display: inline-block;
  margin-right: 16px;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: grey;
}
.social-icon2 a:hover {
  color: #0d6efd;
}

.footer-info a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  margin-right: 1.2rem;
}

.footer-info a:hover {
  color: #0d6efd;
}

.about-intro1 p {
  padding-top: 1rem;
  padding-left: 5rem;
  font-weight: 400;
}

.about-intro2 p {
  padding-top: 1rem;
  padding-right: 5rem;
  font-weight: 400;
}
.about-intro2 a {
  text-decoration: none;
}

.product-detail img {
  height: 40px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.product-detail {
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: small;
}

#supportHero {
  background-color: rgb(56 126 209);
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

#supportHero a {
  color: white;
  padding: 10px;
}
#supportHero input {
  padding: 10px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
